<!DOCTYPE html>
<html lang="en" xmlns:th = "https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New task</title>
</head>
<body>
<form th:method = "POST" th:action = "@{/task}" th:object = "${issue}">
    <label for="title">Введите название задачи:</label>
    <input type = "text" th:field = "*{title}" id = "title"/>
    <br/>
    <label for="title">Введите описание задачи:</label>
    <input type = "text" th:field = "*{description}" id = "description"/>
    <br/>
    <input type = "submit" value = "Создать"/>
</form>

</body>
</html>